.experience{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: calc(100vh - 100px);
    padding: 0;
    margin: 0;
}

.vertical-timeline-element-title{
    font-size: 18px;
    font-weight: 600;
    color :rgba(0, 0, 0, 0.849)
}

p{
    color:rgba(0, 0, 0, 0.575);
    font-size: 15px;
}