.experience{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: calc(100vh - 100px);
    background-color: #f00a0a;
    padding: 0;
    margin: 0;
}

.vertical-timeline-element--education{
    background: rgba(255, 255, 255, 0.31);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.9px);
    -webkit-backdrop-filter: blur(5.9px);
    border: 1px solid rgba(255, 255, 255, 0.54);
}

.vertical-timeline-element-title{
    font-size: 18px;
    font-weight: 600;
    color :rgba(0, 0, 0, 0.849)
}

p{
    color:rgba(0, 0, 0, 0.575);
    font-size: 15px;
}